body{
    background-color: #0D1117;
    color: #c9d1d9;
}
h1{
    margin: 0;
}
.intro{
    text-align: center;
    font-size: 60px;
}
.card{
    border: 2.5px solid #c9d1d9;
    display: inline-block;
    padding: 30px;
}
h3{
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.card:hover{
    transform: scale(1.02);
    transition: 0.5s;
}
.scoreboard{
    display: flex;
    justify-content: space-around;
}
